* {
  font-family: sans-serif;
}

body {
  color: white;
  background-color: #2B2B2B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 600px;
}

a {
  text-decoration: none;
  color: gold;
}

p a:hover {
  cursor: pointer;
  text-decoration: underline;
  color:aqua;
}

.random {
  font-family: cursive;
  color:aqua;
}

.listOne > li {
  font-style: italic;
  list-style-type: lower-greek;
}

h1 + h2 {
  background-color: bisque;
  color: black;
  border: 1px solid whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
}
